.navbar-container {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2.5rem;
  font-family: 'Roboto Slab', serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 90px;
}

.nav-link {
  color: #f06321;
  font-size: 1.25rem;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 0.95;
  transform: scale(1.05);
  text-decoration: underline;
}

.menu-icon {
  position: absolute;
  right: 2.5rem;
  top: 2rem;
  transition: transform 0.3s ease;
}

.menu-icon:hover {
  transform: rotate(90deg);
}
